<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.j137.xiaojin.systemmag.mapper.RoleMapper">

	<resultMap type="org.j137.xiaojin.beans.Role" id="roleMap">
	<id property="id" column="id" javaType="java.lang.Long"/>
	<result property="roleName" column="role_name" javaType="java.lang.String"/>
	<result property="roleCode" column="role_code" javaType="java.lang.String"/>
	<result property="state" column="state" javaType="java.lang.String"/>
	<result property="roleType" column="roleType" javaType="java.lang.String"/>
	<result property="exist" column="exist" javaType="java.lang.integer"/>
	<association property="organization" column="fk_org_id" fetchType="lazy" select="org.j137.xiaojin.systemmag.mapper.OrganizationMapper.findOrgById"></association>
	</resultMap>


	<select id="findRole" parameterType="java.util.Map" resultMap="roleMap">
		select * from t_role where exist=1 and
		<if test="userNameOrCode != null and userNameOrCode != ''">
			userNameOrCode like concat(#{userNameOrCode},'%')
		</if>
		<if test="fkOrgId != null and fkOrgId != ''">
			fk_org_id = #{fkOrgId}
		</if>
		<if test="roleType != null and roleType!= ''">
			role_type=#{roleType}
		</if>
		limit ${page.index},${page.pageSize}
	</select>


	<update id="updateRole" parameterType="org.j137.xiaojin.beans.role">
		update t_role
		<set>
			<if test="roleName != null and roleName != ''">
				roleName=#{roleName},
			</if>
			<if test="roleType != null and roleType != ''">
				roleType=#{roleType},
			</if>
			<if test="roleCode != null and roleCode != ''">
				roleCode=#{roleCode},
			</if>
			<if test="state != null and state != ''">
				state = #{state},
			</if>
			<if test="exist != null and exist != ''">
				exist = #{exist},
			</if>
			<if test="fkOrgId != null and fkOrgId != ''">
				fk_org_id = #{fkOrgId}
			</if>
		</set>
	</update>
</mapper>