<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.j137.xiaojin.systemmag.mapper.UserMapper">

	<resultMap type="org.j137.xiaojin.beans.User" id="UserMap">
	<id property="id" column="id" javaType="java.lang.Long"/>
	<result property="UserName" column="user_name" javaType="java.lang.String"/>
	<result property="userCode" column="user_code" javaType="java.lang.String"/>
	<result property="loginName" column="login_name" javaType="java.lang.String"/>
	<result property="relname" column="relname" javaType="java.lang.String"/>
	<result property="phone" column="phone" javaType="java.lang.String"/>
	<result property="idCard" column="id_card" javaType="java.lang.String"/>
	<result property="email" column="email" javaType="java.lang.String"/>
	<result property="state" column="state" javaType="java.lang.String"/>
	<result property="exist" column="exist" javaType="java.lang.Integer"/>
	<association property="organization" column="fk_org_id" fetchType="lazy" select="org.j137.xiaojin.systemmag.mapper.OrganizationMapper.findOrgById"></association>
	</resultMap>


	<select id="findAllUser" parameterType="java.util.Map" resultMap="UserMap">
		select * from t_user where exist=1 
		<if test="loginName != null and loginName != ''">
			and login_name like concat(#{loginName},'%') 
		</if>
		<if test="relname != null and relname != ''">
			and relname = #{relname} 
		</if>
		<if test="fkOrgId != null and fkOrgId != ''">
			and fk_org_id = #{fkOrgId} 
		</if>
		limit ${page.index},${page.pageSize}
	</select>


	<update id="updateUser" parameterType="org.j137.xiaojin.beans.User">
		update t_user
		<set>
			<if test="relname != null and relname != ''">
				relname=#{relname},
			</if>
			<if test="loginName != null and loginName != ''">
				login_name=#{loginName},
			</if>
			<if test="phone != null and phone != ''">
				phone=#{phone},
			</if>
			<if test="email != null and email != ''">
				email = #{email},
			</if>
			<if test="idCard != null and idCard != ''">
				id_card = #{idCard},
			</if>
			<if test="exist != null and exist != ''">
				exist = #{exist},
			</if>
			<if test="state != null and state != ''">
				state = #{state},
			</if>
			<if test="exist != null and exist != ''">
				exist = #{exist},
			</if>
			<if test="genner != null and genner != ''">
				genner = #{genner},
			</if>
			<if test="userType != null and userType != ''">
				user_type = #{userType},
			</if>
			<if test="fkOrgId != null and fkOrgId != ''">
				fk_org_id = #{fkOrgId}
			</if>
		</set>
	</update>
</mapper>