<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
	
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>ssm.root</param-value>
	</context-param>
	
	<!-- 启动Spring大容器，将Spring容器内的内容纳入到WEB容器中 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	
	<!-- rest架构风格中，form提交时，将POST请求修改为PUT/DELETE -->
	<filter>
        <filter-name>HttpMethodFilter</filter-name>
        <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HttpMethodFilter</filter-name>
        <servlet-name>spring</servlet-name>
    </filter-mapping>
	
	<!-- rest架构风格中，form提交时，将参数修改为支持PUT/DELETE提交 -->
	<filter>  
        <filter-name>httpPutFormContentFilter</filter-name>  
        <filter-class>org.springframework.web.filter.HttpPutFormContentFilter</filter-class>  
    </filter>  
    <filter-mapping>  
        <filter-name>httpPutFormContentFilter</filter-name>  
       	<servlet-name>spring</servlet-name>
    </filter-mapping>
	
	
	<!-- 配置前端控制器 -->
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-servlet.xml</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<!-- 在DispatcherServlet中/代表所有，其他地方都是/* -->
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	</web-app>